.footer {
    width:100%;
    padding:8px;
    background: slategrey;
    position:absolute;
    margin-bottom: 0;
}

.sig{
    font-family: 'Nova Mono', monospace;
    max-width:200px;
    float:right;
    margin-right: 40px;
}